{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% load agenda %}

{% block htmlheader %}
{% dajaxice_js_import %}

<script type='text/javascript'>
$(document).ready(function() {	
	$('#calendar').fullCalendar({
		firstDay : 1 ,//monday
		weekMode : 'variable',
		year: {{month.year}},
		month: {{month.month}}-1,
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true,
		selectable: true,
		selectHelper: true,
		select: function(startDate, endDate, allDay) {
			
		},
	    dayClick: function(date, allDay, jsEvent, view) {
			console.log(date);
	    },
	    eventClick: function(calEvent, jsEvent, view) {
	    },
		{% if event_list %}
		events: [
		         {% for event in event_list %}
					{
						url : '{{event.get_absolute_url}}',
						title: '{{ event.title }}',
						start: new Date({{ event.start_datetime|date:"Y, m-1, d, H, i"}}),
						end: new Date({{ event.end_datetime|date:"Y, m-1, d, H, i"}}),
					},
				{% endfor %}
				],
		{% endif %}
	});
	
});
</script>

{% endblock %}

{% block content %}
<div class="grid_16 alpha omega">
<a href="{% url myagenda_create_event %}" >Create event</a>
</div>
<div id="calendar_list" class="grid_2 alpha">
Calendar(s)
</div>
<div id="calendar_container" class="grid_11">
	<div id="calendar">
	</div>
</div>
<div id="event_detail" class="grid_3 omega">
{% if current_event %}
			<div class="block">
			<p>
				Title : {{current_event.title}}
			</p>
				{% if current_event.description %}
				<p>Desc : {{current_event.description}}</p>
				{% endif %}
			<p>
				Begins the {{current_event.begin_date}} at {{current_event.start_time}}	
			</p>
			<p>
				Ends the {{current_event.end_date}} at {{current_event.end_time}}
			</p>
		</div>
{% endif %}
</div>
{% endblock %}
