<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" />
  	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/smoothness/jquery-ui-datepicker-1.8.9.css" />
  	<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-timepicker.css" type="text/css" />
  	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.4.min.js"></script>
  	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.9.datepicker.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.ui.timepicker-0.0.6.js"></script>
  	
	<script type="text/javascript">
  		$(document).ready(function(){
	  		$('.toggle_button').click(function() {
	  			$(this).parent().next().slideToggle('slow');
	  		});
	  		$('input#all_day').change(function() {
	  			if($(this).is(":checked")) {
	  				$(".date").attr("disabled", "disabled")
	  				$(".hour").attr("disabled", "disabled")
	 			}
	  			else {
	  				$(".date").removeAttr("disabled");
	  				$(".hour").removeAttr("disabled");
	  			}
	  		});
	  		// Datepicker
			$(".datepicker").datepicker({
				showOn: "both",
				buttonImage: "{{MEDIA_URL}}img/calendar.gif",
				buttonImageOnly: true
			});

			// http://fgelinas.com/code/timepicker/timepicker.html
			$('.timepicker').timepicker ({
				timeSeparator: 'h'
			});
			// Increment or Decrement count value ; interval value
			$(".inc").click(function() {
			    var inc = $(this);
			    var value = inc.parent().find("input").val();
			    if (inc.text() == "+") {
			    	value = parseFloat(value) + 1;
			    } 
			   	else {
			   		if (value >= 1) {
			    		value = parseFloat(value) - 1;
			    	}
				}
				inc.parent().find("input").val(value);
			});
	  	});
	</script>

	<title> Create Event </title>

</head>
<body>
<form action="." method="post">{% csrf_token %}

<div id="form">
		<div class="block">
			<p>
				{{event_form.title.label_tag}}
				{{event_form.title}}
				{{event_form.title.errors}}
			</p>

			<p> 
				{{event_form.description.label_tag}}<a class="toggle_button" href="#">>></a>
			</p>
			<div style="display: none;">
				{{event_form.description}}
			</div>
		</div>
		<div class="block">

			<p>
				<label>Date </label><br />
			</p>
			<p>
				<label>All Day </label>
				<input id="all_day" name="all_day" type="checkbox" />
			</p>
			<p>
				{{event_form.begin_date.label_tag}}
					{{event_form.begin_date}}
					{{event_form.start_time}}
					{{event_form.begin_date.errors}}
					
			</p>
			<p>
				{{event_form.end_date.label_tag}}
					{{event_form.end_date}}
					{{event_form.end_time}}
					{{event_form.end_date.errors}}
			</p>
		</div>
		<div class="block">
			<p>
				<label>Repetition </label><a class="toggle_button" href="#">>></a>
			</p>

			<div style="display: none;">
				<p>
					{{recurrence_form.frequency.label_tag}}
					{{recurrence_form.frequency}}

				</p>
				<p>
					<label for="id_start_datetime">Begin date</label>
					{{recurrence_form.start_datetime}}
				</p>
				<p>
					{{recurrence_form.interval.label_tag}}
					{{recurrence_form.interval}}
					<a class="inc" href="#">-</a>
					<a class="inc" href="#">+</a>
				</p>
				<p>
					{{recurrence_form.end_datetime.label_tag}}
					{{recurrence_form.end_datetime}}
				</p>
				<p>
					{{recurrence_form.count.label_tag}}
					{{recurrence_form.count}}
					<a class="inc" href="#">-</a>
					<a class="inc" href="#">+</a>
				</p>
			</div>
		</div>
	</div>
	<input type="submit" value="Create" />
</form>
</body>
</html>
