div.block {
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	padding-right: 2px;
	padding-left: 5px;
	text-align: left;
	border: 1px solid black;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.block p {
	font-size: 12px;
}

.event:hover {
	cursor: pointer;
}