.errorlist {
	margin: 0;
	padding-left: 15px;
	color: red;
}
.errorlist li{
	list-style: none;
}

label {
	display: inline-block;
	float: left;
	width: 125px;
	text-align: left;
}

input, select {
	position: relative;	
	width: 100px;
}

input.datepicker{
	margin-right: 2px;
}

input.timepicker {
	width: 80px;
	margin-left: 10px;
}

input.text {
	width: 350px;
}

textarea {
	margin-bottom: 5px;
}

div.block {
	width: 370px;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	padding-right: 2px;
	padding-left: 5px;
	text-align: left;
	border: 1px solid black;
}

#form {
	position: relative;
	text-align: left;
}

label.desc {
	margin-bottom: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}
