.calendar {
	 width: 1024px;
	 float: left;
	 margin-right: 5px;
	 padding-left: 3px;
}

.calendar-header {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;

}

.calendar-day {
	float: left;
	width: 138px;
	height: 80px;
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 2px;
	border: 1px solid;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top,  #fff,  #ccc);
}

div.calendar .out-of-month{
	background: white;
}

div.event, div.events {
	width: 500px;
	float: left;
}